USE [master]
GO
/****** Object:  Database [EFM4]    Script Date: 08/12/2021 05:43:36 p.m. ******/
CREATE DATABASE [EFM4]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EFM4].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EFM4]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 08/12/2021 05:43:37 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[id] [int] NOT NULL,
	[name] [varchar](50) NOT NULL,
	[surname] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Login]    Script Date: 08/12/2021 05:43:37 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[username] [varchar](25) NOT NULL,
	[password] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_Login] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Client] ([id], [name], [surname]) VALUES (3, N'Jonathan', N'Emmanuel')
GO
INSERT [dbo].[Login] ([username], [password]) VALUES (N'admin', 0x21232F297A57A5A743894A0E4A801FC3)
INSERT [dbo].[Login] ([username], [password]) VALUES (N'jonaes', 0xD744667D59C66AC14A8281E7DACD306E)
GO
USE [master]
GO
